// COLOURS
$background: rgb(165, 165, 165);
$background2: rgb(119, 119, 119);
$almostwhite: rgba(255, 255, 255, 0.808);
$white: white;
$warning: rgb(192, 113, 113);

// FONTS
$font-sm: 0.75rem;
$font-std: 1rem;
$font-md: 1.25rem;
$font-lg: 1.5rem;