// COLOURS
$background: rgb(165, 165, 165);
$background2: rgb(119, 119, 119);
$almostwhite: rgba(255, 255, 255, 0.808);
$white: white;
$warning: rgb(192, 113, 113);

// FONTS
$font-sm: 0.75rem;
$font-std: 1rem;
$font-md: 1.25rem;
$font-lg: 1.5rem;

@import "header";
@import "footer";

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: $background;
    color: $white;
}

a {
    color: $white;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;

    &-title {
        font-size: $font-md;
    }

    &-info {
        font-size: $font-sm;
    }

    &-result {
        font-size: $font-lg;
    }

    &-header {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transition: all 0.2s ease-out;
        .disabled {
            border: solid $warning 2px;

            &:hover {
                border: solid $warning 2px; 
            }
        }

        .failure {
            color: $warning;
        }

        &-item {
            margin: 0.25em;
        }

        &-input {
            width: 300px;
            text-align: center;
            font-size: $font-md;
            color: $almostwhite;
            background-color: $background;
            border: solid $background2 2px;
            border-radius: 5px;
            outline: none;

            transition: all 0.2s ease-out;
            &:focus {
                color: $white;
                background-color: $background2;
                border: solid $white 2px
            }
        }

        &-button {
            width: 300px;
            font-size: $font-md;
            color: $almostwhite;
            background-color: $background2;
            border: solid $background2 2px;
            border-radius: 5px;
            cursor: pointer;

            transition: all 0.2s ease-out;
            &:hover {
                color: $white;
                border: solid $white 2px;
            }
        }
    }

    &-list {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1em;

        &-item {
            width: 250px;
            height: 100px;
            display: flex;
            flex-direction: column;
            margin: 0.5em;
            justify-content: space-around;
            align-items: center;
            color: $background;
            background-color: $background2;
            border: solid $background2 2px;
            border-radius: 5px;
            cursor: pointer;

            p {
                padding: 0.5em;
            }

            transition: all 0.2s ease-out;
            &:hover {
                color: $almostwhite;
                border: solid $almostwhite 2px;
            }

            &-active {
                color: $white;
                border: solid $white 2px;

                transition: all 0.2s ease-out;
                &:hover {
                    color: $white;
                    border: solid $white 2px;
                }
            }
        }
    }
}