.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 2rem;
  background-color: #777777;
  border-bottom: solid 1px #a5a5a5;
}

.navbar-item {
  padding: 0 1rem;
  font-size: 1rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navbar-item:hover {
  color: #a5a5a5;
}

.footer {
  position: fixed;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #777777;
}

.footer-item {
  padding: 0.5em;
  color: #a5a5a5;
  text-align: center;
  font-size: 0.75rem;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #a5a5a5;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  visibility: visible;
  opacity: 1;
}

.container .hidden {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.container .hidden :not(:first-child) {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.jsmath, .jswords, .jsdom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.1em 0;
  padding: 0.25em;
  border-top: solid 2px #777777;
  border-bottom: solid 2px #777777;
  background-color: #777777;
}

.jsmath-title, .jswords-title, .jsdom-title {
  font-size: 1.25rem;
}

.jsmath-info, .jswords-info, .jsdom-info {
  font-size: 0.75rem;
}

.jsmath-result, .jswords-result, .jsdom-result {
  font-size: 1.5rem;
}

.jsmath-panel, .jswords-panel, .jsdom-panel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jsmath .panel-button, .jswords .panel-button, .jsdom .panel-button {
  padding: 0.25em 1.5em;
  font-size: 1.25rem;
  color: white;
  background-color: #777777;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.jsmath .panel-button:hover, .jswords .panel-button:hover, .jsdom .panel-button:hover {
  color: #a5a5a5;
}

.jsmath-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.jsmath-header .disabled {
  border: solid #c07171 2px;
}

.jsmath-header .disabled:hover {
  border: solid #c07171 2px;
}

.jsmath-header .failure {
  color: #c07171;
}

.jsmath-header-item {
  margin: 0.25em;
}

.jsmath-header-input {
  width: 300px;
  text-align: center;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.808);
  background-color: #a5a5a5;
  border: solid #777777 2px;
  border-radius: 5px;
  outline: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.jsmath-header-input:focus {
  color: white;
  background-color: #777777;
  border: solid white 2px;
}

.jsmath-header-button {
  width: 300px;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.808);
  background-color: #777777;
  border: solid #777777 2px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.jsmath-header-button:hover {
  color: white;
  border: solid white 2px;
}

.jsmath-list {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em;
}

.jsmath-list-item {
  width: 250px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a5a5a5;
  background-color: #777777;
  border: solid #777777 2px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.jsmath-list-item p {
  padding: 0.5em;
}

.jsmath-list-item:hover {
  color: rgba(255, 255, 255, 0.808);
  border: solid rgba(255, 255, 255, 0.808) 2px;
}

.jsmath-list-item-active {
  color: white;
  border: solid white 2px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.jsmath-list-item-active:hover {
  color: white;
  border: solid white 2px;
}
/*# sourceMappingURL=style.css.map */