.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1rem 2rem;
  background-color: #777777;
}

.navbar-item {
  padding: 0 1rem;
  font-size: 1rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navbar-item:hover {
  color: #a5a5a5;
}

.footer {
  position: fixed;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #777777;
}

.footer-item {
  padding: 0.5em;
  color: #a5a5a5;
  text-align: center;
  font-size: 0.75rem;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #a5a5a5;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-title {
  font-size: 1.25rem;
}

.container-info {
  font-size: 0.75rem;
}

.container-result {
  font-size: 1.5rem;
}

.container-header {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.container-header .disabled {
  border: solid #c07171 2px;
}

.container-header .disabled:hover {
  border: solid #c07171 2px;
}

.container-header .failure {
  color: #c07171;
}

.container-header-item {
  margin: 0.25em;
}

.container-header-input {
  width: 300px;
  text-align: center;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.808);
  background-color: #a5a5a5;
  border: solid #777777 2px;
  border-radius: 5px;
  outline: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.container-header-input:focus {
  color: white;
  background-color: #777777;
  border: solid white 2px;
}

.container-header-button {
  width: 300px;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.808);
  background-color: #777777;
  border: solid #777777 2px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.container-header-button:hover {
  color: white;
  border: solid white 2px;
}

.container-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em;
}

.container-list-item {
  width: 250px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a5a5a5;
  background-color: #777777;
  border: solid #777777 2px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.container-list-item p {
  padding: 0.5em;
}

.container-list-item:hover {
  color: rgba(255, 255, 255, 0.808);
  border: solid rgba(255, 255, 255, 0.808) 2px;
}

.container-list-item-active {
  color: white;
  border: solid white 2px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.container-list-item-active:hover {
  color: white;
  border: solid white 2px;
}
/*# sourceMappingURL=style.css.map */